<p>
    <f:translate key="email.donor.greeting">Liebe(r)</f:translate> {registration.firstname},
</p>

<p>
    <f:translate key="email.donor.thankyou">Herzlichen Dank für dein/euer Beitrag!</f:translate>
</p>
<p>
    <f:translate key="gift">Geschenk</f:translate>: <b>{registration.wish.title}</b>
</p>
<p>
    <f:translate key="bankinfo" arguments="{0: registration.amount}">Bitte überweise den gewählten Betrag von <b>CHF %s</b> auf folgendes Konto:</f:translate>
</p>

<p>
    {settings.bankInfo}
</p>
<p>
    <f:translate key="email.donor.questions">Bei Fragen oder Problemen könnt ihr uns jederzeit kontaktieren.</f:translate>
</p>

<p>
    <f:translate key="email.donor.farewellmessage">Wir freuen uns auf den grossen Tag mit euch.</f:translate>
</p>

<p>
    <f:translate key="email.donor.regards">Liebe Grüsse</f:translate>
    <br/>
    {settings.recipientName}
</p>